  .banner{
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    color:$darkred;
    text-align: right;
    height: 787px;
    @include desktop-below(){
        background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png");
    }
    @include pad-below(){
      background-size: cover;
      height: 396px;
    }
  }
  .banner-box{
    height: 100%;
    flex-direction: column;
    align-items: flex-end;  
    justify-content: center;
  }
  .banner-subtitle{
    font-size: 64px;
    font-weight: bold;
    @include pad(){
      font-size: 48px;
    }
    @include pad-below(){
      font-size: 24px;
      margin-bottom: 8px;
    }
  }
  .banner a{
    display: inline-block;
    padding: 6px 12px;
    font-size: 20px;
    color: $white;
    background-color:$lightred;
  }
  .banner a:hover{
    background-color:$darkred;
  }
  
  
  .pro{
    background-color: #FBF2F2;
    padding-top: 80px;
    padding-bottom: 80px;
    }
  .pro-box{
    justify-content: space-between;
    @include desktop-below(){
      flex-wrap: wrap;
    }
  }
  .pro-box img{
    width: 83px;
    height: auto;
  }
  .pro-card{
    width: 23%;
    text-align: center;
  @include desktop-below(){
    width: 48%;
  }
  @include pad-below(){
    width: 100%;
    margin-bottom: 24px;
  }
  }
  .pro-title{
    font-size: 24px;
    font-weight: bold;
    color: $darkred;
    margin-bottom: 8px;
  }
  .pro-text{
    text-align-last: left;
    line-height: 24px;
  }
  
  .classic{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .classic-title{
    margin-bottom: 48px;
  }
  .classic-box{
    justify-content: space-between;
    align-items: center;
    @include desktop-below(){
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .classic-card{
    width: 32%;
    @include desktop-below(){
      width: 47%;
      margin-bottom: 24px;
    }
    @include pad-below(){
      width: 100%;
      margin-bottom: 24px;
    }
  }
  
  
  .cobrand{
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png");
    background-size: cover;
  }
  .cobrand-box a{
    background-color:$white;
  }
  .cobrand-box {
    @include desktop-below(){
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .cobrand-card{
    @include desktop-below(){
      width: 92%;
      margin-bottom: 24px;
    }
    @include pad-below(){
      width: 100%;
    }
  }
  
  .recommend{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .recommend-box{
    justify-content: space-between;
    @include desktop-below(){
      flex-wrap: wrap;
      margin-bottom: -16px;
    }
  }
  .recommend-card{
    width: 23%;
    @include desktop-below(){
      width: 48%;
      margin-bottom: 16px;
    }
    @include pad-below(){
      width: 100%;
    }
  }
  .recommend-text{
    padding: 16px;
    box-shadow: 0px 2px 6px #00000029;
  }
  .recommend-date{
    font-size: 14px;
    color: #707070;
  }
  

  .contact{
    background-color: #FBF2F2;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .contact-box{
    max-width: 636px;
  }
  .contact-subtitle{
    font-size: 20px;
    margin-bottom: 24px;
    @include pad-below(){
      font-size: 16px;
    }
  }
  .contact-form{
    line-height: 24px;
    margin-bottom: 16px;
  }
  .contact-form li{
    margin-bottom: 16px;
  }
  .contact-form input{
    width: 100%;
    background-color: #FBF2F2;
    padding: 6px 0 6px 12px;
  }
  .feedback input{
    padding: 6px 0 106px 12px;
  }
  .agree-box{
    align-items: flex-start;
    margin-bottom: 48px;
  }
  input.agree-content{
    width: 4%;
    @include pad-below(){
      width: 10%;
    }
  }
  .send-box{
    text-align: center;
  }
  .send-box button{
    width: 31%;
    font-weight: bold;
    padding: 16px 0;
    background-color: $lightred;
    color: $white;
    @include desktop-below(){
      width: 46%;
    }
    @include pad-below(){
      width: 100%;
    }
  }
  .send-box button:hover{
    color: $lightred;
    background-color: $white;
  }
  .pro,.classic,.cobrand,.recommend,.contact{
      @include pad-below(){
        padding-top: 40px;
        padding-bottom: 40px;
      }
      }
