*,*::before,*::after{
    box-sizing: border-box;
    /* outline: 1px solid black; */
  }
  body{
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    line-height: 1.5;
  }
  a{
   text-decoration: none;
   display: block;
  }
  a:hover{
    opacity: 0.6;
  }
  
  img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }