@import "./reset";
@import "./base";
@import "./utility";


h6{
    font-size: 48px;
}


.faq{
  padding-top: 96px;  
  padding-bottom: 80px;
}

@media (max-width:992px) {
  .container{
    max-width: 768px;
    padding-left: 36px;
    padding-right: 36px;
  }  

}

@media (max-width:603px) {
  .container{
    max-width: 583px;
  }
  h6{
    font-size: 24px;
  }
}
