/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }
  @media (max-width: 992px) {
    .container {
      max-width: 768px;
      padding: 0 36px; } }
  @media (max-width: 768px) {
    .container {
      max-width: 648px;
      padding: 0 24px; } }
  @media (max-width: 500px) {
    .container {
      max-width: 496px;
      padding: 0 18px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 375px;
      padding: 0 5px; } }

.header-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 500px) {
    .header-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; } }

@media (max-width: 500px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px; } }

@media (max-width: 768px) {
  .menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 768px) {
  .menu li {
    width: 25%;
    text-align: center; } }

@media (max-width: 375px) {
  .menu li {
    width: 50%; } }

.menu a {
  font-size: 20px;
  padding: 25px; }
  @media (max-width: 768px) {
    .menu a {
      font-size: 18px;
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 375px) {
    .menu a {
      border: 1px solid #FFFFFF;
      padding-top: 12px;
      padding-bottom: 12px; } }

.footer {
  background-color: #AA0601;
  padding-top: 48px; }
  @media (max-width: 768px) {
    .footer {
      padding-top: 36px; } }
  @media (max-width: 500px) {
    .footer {
      padding-top: 24px; } }

.footer-navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px; }

.footer-navbar-menu {
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px; }
  @media (max-width: 992px) {
    .footer-navbar-menu {
      width: 65%; } }
  @media (max-width: 768px) {
    .footer-navbar-menu {
      margin-bottom: 8px; } }

.footer-navbar-menu a {
  gap: 24px; }

.footer-navbar-media {
  width: 15.75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px; }
  @media (max-width: 992px) {
    .footer-navbar-media {
      width: 26%; } }
  @media (max-width: 768px) {
    .footer-navbar-media {
      width: 30%; } }

.footer-contact, .footer-contact span {
  font-size: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 768px) {
    .footer-contact, .footer-contact span {
      font-size: 24px; } }
  @media (max-width: 500px) {
    .footer-contact, .footer-contact span {
      font-size: 18px; } }

.footer-contact-box {
  padding-bottom: 32px;
  border-bottom: 1px solid #FFFFFF; }
  @media (max-width: 500px) {
    .footer-contact-box {
      padding-bottom: 24px; } }

.footer-contact-phone, .footer-contact-letter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px; }
  @media (max-width: 500px) {
    .footer-contact-phone, .footer-contact-letter {
      gap: 4px; } }

.footer-copyright {
  padding-top: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 500px) {
    .footer-copyright {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      gap: 8px; } }

.footer-copyright-box {
  gap: 48px; }
  @media (max-width: 500px) {
    .footer-copyright-box {
      gap: 24px; } }
  @media (max-width: 375px) {
    .footer-copyright-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      gap: 8px; } }

.footer-copyright-box a {
  padding: 24px 0; }
  @media (max-width: 768px) {
    .footer-copyright-box a {
      padding: 12px 5px; } }
  @media (max-width: 500px) {
    .footer-copyright-box a {
      padding-top: 0;
      padding-bottom: 0; } }

.footer-navbar-media-s {
  display: none; }
  @media (max-width: 500px) {
    .footer-navbar-media-s {
      display: block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 25%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      gap: 8px; } }

@media (max-width: 500px) {
  footer .footer-navbar {
    display: none; } }

@media (max-width: 500px) {
  .footer-contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }
  @media (max-width: 992px) {
    .container {
      max-width: 768px;
      padding: 0 36px; } }
  @media (max-width: 768px) {
    .container {
      max-width: 648px;
      padding: 0 24px; } }
  @media (max-width: 500px) {
    .container {
      max-width: 496px;
      padding: 0 18px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 375px;
      padding: 0 5px; } }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* outline: 1px solid black; */ }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 1.5; }

a {
  text-decoration: none;
  display: block; }

a:hover {
  opacity: 0.6; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

header {
  background-color: #AA0601; }
  @media (max-width: 768px) {
    header {
      padding-right: 0;
      padding-left: 0; } }

h2 {
  font-size: 36px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 24px; } }
  @media (max-width: 375px) {
    h2 {
      font-size: 16px; } }

h3 {
  font-size: 48px;
  color: #650300;
  text-align: center;
  font-weight: bold;
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    h3 {
      font-size: 36px; } }
  @media (max-width: 500px) {
    h3 {
      font-size: 24px;
      margin-bottom: 24px; } }

h4 {
  font-size: 48px;
  font-style: italic;
  color: #AA0601;
  font-weight: bold;
  text-align: center; }

h5 {
  margin-bottom: 72px; }

h6 {
  font-size: 48px; }
  @media (max-width: 768px) {
    h6 {
      font-size: 24px; } }
  @media (max-width: 375px) {
    h6 {
      font-size: 16px; } }

.bl-8 {
  border-left: 8px solid #9F1213; }

.text-white {
  color: #FFFFFF; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mb-72 {
  margin-bottom: 72px; }

.mb-48 {
  margin-bottom: 48px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-8 {
  margin-bottom: 8px; }

.pl-16 {
  padding-left: 16px; }

.pt-80 {
  padding-top: 80px; }

.pb-80 {
  padding-bottom: 80px; }

.fw-b {
  font-weight: bold; }

.fz-20 {
  font-size: 20px; }

.fz-24 {
  font-size: 24px; }

.fz-36 {
  font-size: 36px; }

.fz-48 {
  font-size: 48px; }

.banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #650300;
  text-align: right;
  padding-top: 296px;
  padding-bottom: 296px; }
  @media (max-width: 992px) {
    .banner {
      background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png"); } }
  @media (max-width: 500px) {
    .banner {
      background-size: cover;
      padding-top: 144px;
      padding-bottom: 144px; } }

.banner-box {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.banner-subtitle {
  font-size: 64px;
  font-weight: bold; }
  @media (max-width: 768px) {
    .banner-subtitle {
      font-size: 48px; } }
  @media (max-width: 500px) {
    .banner-subtitle {
      font-size: 24px;
      margin-bottom: 8px; } }

.banner a {
  display: inline-block;
  padding: 6px 12px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #AA0601; }

.banner a:hover {
  background-color: #650300; }

.pro {
  background-color: #FBF2F2;
  padding-top: 80px;
  padding-bottom: 80px; }

.pro-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .pro-box {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.pro-box img {
  width: 83px;
  height: auto; }

.pro-card {
  width: 23%;
  text-align: center; }
  @media (max-width: 992px) {
    .pro-card {
      width: 48%; } }
  @media (max-width: 500px) {
    .pro-card {
      width: 100%;
      margin-bottom: 24px; } }

.pro-title {
  font-size: 24px;
  font-weight: bold;
  color: #650300;
  margin-bottom: 8px; }

.pro-text {
  -moz-text-align-last: left;
       text-align-last: left;
  line-height: 24px; }

.classic {
  padding-top: 80px;
  padding-bottom: 80px; }

.classic-title {
  margin-bottom: 48px; }

.classic-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .classic-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.classic-card {
  width: 32%; }
  @media (max-width: 992px) {
    .classic-card {
      width: 47%;
      margin-bottom: 24px; } }
  @media (max-width: 500px) {
    .classic-card {
      width: 100%;
      margin-bottom: 24px; } }

.cobrand {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png");
  background-size: cover; }

.cobrand-box a {
  background-color: #FFFFFF; }

@media (max-width: 992px) {
  .cobrand-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (max-width: 992px) {
  .cobrand-card {
    width: 92%; } }

@media (max-width: 500px) {
  .cobrand-card {
    width: 100%;
    margin-bottom: 24px; } }

.recommend {
  padding-top: 80px;
  padding-bottom: 80px; }

.recommend-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .recommend-box {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: -16px; } }

.recommend-card {
  width: 23%; }
  @media (max-width: 992px) {
    .recommend-card {
      width: 48%;
      margin-bottom: 16px; } }
  @media (max-width: 500px) {
    .recommend-card {
      width: 100%; } }

.recommend-text {
  padding: 16px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029; }

.recommend-date {
  font-size: 14px;
  color: #707070; }

.contact {
  background-color: #FBF2F2;
  padding-top: 80px;
  padding-bottom: 80px; }

.contact-subtitle {
  font-size: 20px;
  margin-bottom: 24px; }
  @media (max-width: 500px) {
    .contact-subtitle {
      font-size: 16px; } }

.contact-form {
  line-height: 24px;
  margin-bottom: 16px; }

.contact-form p {
  margin-bottom: 8px; }

.contact-form input {
  width: 100%;
  background-color: #FBF2F2;
  margin-bottom: 8px;
  padding: 6px 0 6px 12px; }

input.feedback {
  padding: 6px 0 106px 12px; }

.agree-box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 48px; }

input.agree-content {
  width: 4%; }
  @media (max-width: 500px) {
    input.agree-content {
      width: 10%; } }

.send-box {
  text-align: center; }

.send-box button {
  width: 31%;
  font-weight: bold;
  padding: 16px 0;
  background-color: #AA0601;
  color: #FFFFFF; }
  @media (max-width: 992px) {
    .send-box button {
      width: 46%; } }
  @media (max-width: 500px) {
    .send-box button {
      width: 100%; } }

.send-box button:hover {
  color: #AA0601;
  background-color: #FFFFFF; }

@media (max-width: 500px) {
  .pro, .classic, .cobrand, .recommend, .contact {
    padding-top: 40px;
    padding-bottom: 40px; } }

.faq {
  padding-top: 96px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .faq {
      padding-top: 80px;
      padding-bottom: 80px; } }
  @media (max-width: 500px) {
    .faq {
      padding-top: 40px;
      padding-bottom: 40px; } }

.faq .title {
  font-size: 48px;
  margin-bottom: 32px; }
  @media (max-width: 500px) {
    .faq .title {
      font-size: 24px;
      margin-bottom: 24px; } }

/*# sourceMappingURL=all.css.map */
